* {
  margin: 0;
}

body {
  background-color: #28292B;
  color: white;
  font-size: 16px;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.intro {
  text-align: center;
}

.navbar {
    background-color: white !important;
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: #4A636D !important;
}

footer p {
  color: white !important;
  text-align: center;
}

/*******************************************************************************************************************************************
  SEARCH FIELD
*******************************************************************************************************************************************/
.search-field {
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

.search-field form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-field form label {
  text-align: center;
}  

.search-field form input {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

#searchString {
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  padding: 0.5em;
  border: none;
  border-radius: 15px;
  width: 80px;
  height: 40px;
  background-color: white;
  color: black;
  text-decoration: none;
}

.general-button:hover {
  background-color: rgb(241, 203, 131);
}

#search-button {
  margin-right: auto;
  margin-left: auto;
}

/*******************************************************************************************************************************************
  CARDS
*******************************************************************************************************************************************/
.main-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.gridbox article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: center;
}

.card-name-div {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 6px;
  width: 238px;
  height: 332px;
}

.card-image {
  border-radius: 10px;
  width: 238px;
  height: 332px;
}

.card-name {
  font-weight: 700;
  font-size: 22px;
}

.update-button {  
  background-color: #35A4B1;
  color: white;
}

.remove-button {
  background-color: #933542;
  color: white;
}

.update-button:hover {
  background-color: #b3f4fc;
  color: black;
}

.remove-button:hover {
  background-color: #fab7c0;
  color: black;
}

.card-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}


/*******************************************************************************************************************************************
  CREATE-, EDIT- AND DELETE-FORMS
*******************************************************************************************************************************************/
.form-group {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* label */
.control-label{
  margin-bottom: 5px;
}

/* input */
.form-control {
  margin-top: 0.2em;
  margin-bottom: 1.5em;
}

.hidden-input {
  display: none;
}

.green-button {
  margin-bottom: 2em;
  background-color: #24603F;
  color: white;
}

.green-button:hover,
.add-deck-button:hover {
  background-color: rgb(169, 224, 194);
  color: black;
}

.general-button {
  padding-left: 1em;
  padding-right: 1em;
}

#back-button {
  width: 120px
}

.add-deck-button {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
  width: 140px;
}


.add-deck-card-button {
  width: 95px;
}


.deck-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}




/* for large screens */
@media (min-width: 1024px) {

  .main-cards {
    width: 90%;
  }
  
  .gridbox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 50px;
    text-align: left;
  }

  .card-image:hover {
      transform: scale(1.7);
  }

  .search-field form input {
    margin-right: auto;
    margin-left: auto;
    width: 60%;
  }

  .crud-div {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
  }

  .button-group {
      display: flex;
      flex-direction: column;
      align-items: center;
    } 


}
